@import "../../assets/styles/variables.scss";

.panel {
  &__container {
    display: flex;
    flex-flow: column;
    --aside-width: 250px;
    position: relative;
    width: var(--aside-width);
    height: 100%;
    background-color: $main_black;
    padding: 20px 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
  }

  &__menu-icon {
    position: absolute;
    top: 20px;
    right: -30px;

    &:hover {
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 800px) {
  .panel {
    &__container {
      --aside-width: 54px;
    }
  }
}
