@import "../../assets/styles/base.scss";

.photobox {
  &__container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    max-width: 500px;
    margin: 0 auto;

    &--panel {
      width: 100px;
      margin-bottom: 40px;
    }
  }

  &__img {
    width: auto;
    max-width: 163px;
    height: auto;
    max-height: 163px;
    // width: 163px;
    // height: 163px;
    border: 1px solid $main_white;
    border-radius: 50%;
    margin-bottom: 10px;
    box-sizing: border-box;

    &--panel {
      width: 100%;
      height: 100px;
    }
  }

  &__name {
    @extend .c-name_title;
    margin-bottom: 10px;

    &--panel {
      font-size: 16px;
      line-height: 120%;
      color: $main_white;
      margin-bottom: 0;
    }
  }

  &__title {
    @extend .c-section_title;

    font-weight: 600;
    color: $main_white;
    text-align: center;
    margin-bottom: 10px;
  }

  &__text {
    @extend .c-text;

    color: $main_white;
    text-align: center;
    margin: 0;
  }
}

@media screen and (max-width: 800px) {
  .photobox {
    &__img {
      &--panel {
        width: 40px;
        height: 40px;
      }
    }

    &__container {
      &--panel {
        width: 40px;

        h1 {
          display: none;
        }
      }
    }
  }
}
