@import "../../assets/styles/base.scss";

.portfolioItem {
  &__container {
    position: relative;
    overflow: hidden;
    width: 308px;
    height: 190px;
    margin: 0 20px 20px 0;
  }

  &__image {
    img {
      width: 100%;
      height: 100%;
    }
  }
 

  &__image:hover {
    cursor: pointer;
  }

  &__info {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.9);
    bottom: -100%;
    left: 0;
    padding: 20px 15px;
    transition: bottom 0.5s ease;
  }

  &__title {
    @extend .c-box_title;

    color: $main_green;
    margin-bottom: 10px;
  }

  &__text {
    @extend .c-text;

    margin: 0;
    margin-bottom: 10px;
  }

  &__link {
    @extend .c-text;

    line-height: 120%;
    color: $main_green;
  }
}

.portfolioItem__container:hover .portfolioItem__info {
  bottom: 0%;
}
