
@import "../../assets/styles/base.scss";

.rangeAxis {
  position: relative;
  border-bottom: 1px solid $grey_text;

  &__mark {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 1px;
    height: 10px;
    background-color: $grey_text;

    &:first-child {
      left: 0;
    }

    &:nth-child(2) {
      left: 25%;
    }
    &:nth-child(3) {
      left: 75%;
    }
    &:last-child {
      left: 100%;
    }
  }

  &__level {
    @extend .c-text_small;
    color: $grey_text;
    position: absolute;
    top: 5px;

    &:first-child {
      left: 0;
    }
    &:nth-child(2) {
      left: 25%;
      transform: translateX(-50%);
    }
    &:nth-child(3) {
      left: 75%;
      transform: translateX(-50%);
    }
    &:last-child {
      left: 100%;
      transform: translateX(-100%);
    }
  }
}
