@import "../../assets/styles/base.scss";

.feedbackItem {
  &__container {
    margin-bottom: 38.5px;
  }

  &__feedback {
    @extend .c-text;

    padding: 15px;
    background-color: $grey_bgnd;
  }

  &__reporter {
    &-container {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
    }

    &-name {
      @extend .c-text_small;
      
      margin-left: 20px;

      a {
        color: $main_green;
        text-decoration: none;
      }
    }
  }
}
